body{
  font-family: "Montserrat", "Arial", sans-serif;
  font-size: 16px;
  line-height: 28px;
  font-weight: 400;
  color: #000;
  text-transform: uppercase;

  background-color: #fff;
}

.container {
  width: 940px;

  margin: 0 auto;
}

a{
  text-decoration: none;
}

img{
  max-width: 100%;
  height: auto;
}

h2 {
  text-align: center;

  margin: 0;
  padding: 0;

  font-size: 36px;
  line-height: 42px;
}

.visability-hidden {
  display: none;
}


.main-navigation {
  min-height: 100px;

  font-size: 14px;
  color: #000;

  background-color: #fff;
}

.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;

  padding-top: 25px;
}

.main-header-logo {
  font-size: 30px;
  line-height: 36px;
}

.main-header-logo span {
  text-transform: none;
}

.main-menu-list {
  display: flex;
  flex-wrap: wrap;
}

.main-menu-list li {
  margin-right: 10px;

  font-size: 14px;
  line-height: 28px;
}

.main-header-logo {
  margin: 0;
  padding: 0;
}

.main-menu-list {
  list-style: none;

  margin: 0;
  padding: 0;
}

.main-menu-list a {
  color: #000;
}

.main-menu-list a:hover,
.main-menu-list a:focus {
  font-size: 14px;
  font-weight: bold;
}

.phone {
  font-weight: bold;
  font-size: 16px;
}

.main-description {
  font-size: 20px;

  padding-top: 50px;
  padding-bottom: 345px;
  color: #000;

  background-image: url("../img/main-foto.jpg");
  background-color: #fff;
}

.main-description h2 {
  margin: 0;
  margin-bottom: 20px;
  padding: 0;
}

.main-description-list {
  margin: 0;
  padding: 0;
  margin-left: 280px;

  list-style: none;
}

.services {
  position: relative;

  text-align: center;

  margin-bottom: 100px;
  padding-top: 100px;
  color: #000;

  background-color: #fff;
}


.services-list {
  display: flex;
  justify-content: space-between;

  margin: 0;
  padding: 0;

  list-style: none;
}

.services-item {
  min-height: 410px;
  
  width: 280px;
}

.services-item img {
  border-radius: 50%;
}

.services-list h3 {
  font-size: 24px;
  line-height: 30px;
}

.services-list p {
  text-transform: none;
}

.services-list .button {
  font-size: 12px;

  color: #fff;

  background-color: #2d251f
}

.button {
  padding: 10px;

  font-size: 100%;

  border-radius: 10px;

  cursor: pointer;

  outline: none;
}



.types-of-cleaning {
  position: relative;

  padding: 100px 0;
  margin: 0;

  width: 100%;

  color: #fff;

  background-color: #2d333f
}


.types-of-cleaning h2{
  margin-bottom: 50px;
}

.types-of-cleaning-list {
  display: flex;
  justify-content: space-around;

  margin: 0;
  margin-bottom: 25px;
  padding: 0;

  list-style: none;
}

.description-types-of-cleaning {
  display: flex;
  justify-content: center;

  margin: 0;
  padding: 0;

  list-style: none;
}

.description-cleanig-item {
  position: relative;

  padding-left: 30px;

  text-transform: none ;
}

.description-cleanig-item::before {
  content: "";

  position: absolute;
  top: 3px;
  left: 0;

  display: block;

  width: 17px;
  height: 17px;
  background-image: url(../img/svg/checkmark.svg);
}



.description-types-of-cleaning .block{
    width: 450px;
}

.description-types-of-cleaning ul {
  list-style: none;
}

.description-types-of-cleaning {
  display: flex;

  list-style: none;
}


.price {
  color: #000;

  background-color: #fff;
}

.price h2 {
  margin-top: 100px;
  margin-bottom: 50px;
}

.price-container {
  display: flex;
  justify-content: space-around;

  margin: 0;
  margin-bottom: 100px;
  padding: 0;
}

.price-container img{
  display: block;
}

.price-list {
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  margin: 0;
  padding: 0;
}

.price-list li {
  font-size: 24px;
  line-height: 28px;
}

.price-list,
.object-of-the-cleaning,
.cleaning-area {
  list-style: none;
}

.type-of-cleaning {
  position: relative;

  padding-left: 40px;
  margin-bottom: 20px;
}
.type-of-cleaning::before{
  content: "";

  position: absolute;
  top: 0;
  left: 0;

  display: block;

  width: 27px;
  height: 27px;

  background-image: url(../img/svg/arrows_circle_down.svg);
}

.type-of-cleaning:last-child {
  margin-bottom: 30px;
}

.object-of-the-cleaning {
  display: none;
}

.object-of-the-cleaning-item {
  margin: 0;
  padding: 0;

  margin-top: 20px;
  margin-bottom: 25px;
}

.cleaning-area {
  margin: 0;
  margin-left: 25px;
  padding: 0;

}
/*.supportive {display: block}*/

.object-of-the-cleaning li {
  font-size: 17px;
  line-height: 28px;
}

.cleaning-area {
  text-transform: none;
}


.advantages {
  color: #000;
  padding-top: 100px;
  padding-bottom: 100px;

  background-color: #d2d7db;
}

.advantages h2 {
  margin-bottom: 50px;
}
.advantages-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  padding: 0;

  list-style: none;
}

.advantages-item {
  width: 450px;
  
  margin-bottom: 60px;
}

.advantages-item h4 {
  position: relative;

  margin: 0;
  margin-bottom: 10px;
  padding: 0;
  padding-left: 60px;

  font-size: 17px;
  line-height: 30px;
}

.advantages-item h4::before {
  content: "";

  position: absolute;
  top: -5px;
  left: 0;

  width: 40px;
  height: 40px;

  background-repeat: no-repeat;
  background-size: cover;
}

.affordable-price::before {
  background-image: url(../img/svg/wallet.svg);



}

.safety::before {
  background-image: url(../img/svg/umbrella.svg);
}

.urgent-cleaning::before {
  background-image: url(../img/svg/clock.svg);
}

.qualified-personnel::before {
  background-image: url(../img/svg/badge.svg);
  width: 40px;
  height: 48px;
}

.complementary-services::before {
  background-image: url(../img/svg/tablet.svg);
 
}

.modern-technology::before {
  background-image: url(../img/svg/case.svg);

}

.advantages p {
  margin: 0;
  padding: 0;

  font-size: 16px;
  line-height: 28px;

  text-transform: none;
}


.faq {
  color: #000;
  padding-top: 100px;
  padding-bottom: 100px;

  font-size: 16px;
  line-height: 30px;

  background-color: #fff;
  background-image: url(../img/faq.jpg);
}

.faq h2 {
  margin: 0;
  margin-bottom: 50px;
  padding: 0;
}

.faq-list {

  width: 680px;

  padding: 25px;

  list-style: none;

  font-size: 16px;
  line-height: 30px;
  font-weight: bold;

  background-color: rgba(255, 255, 255, 0.5);

  border-radius: 15px;
}

.faq-item {
  margin-bottom: 15px;

  position: relative;

  padding-left: 50px;
  padding-bottom: 5px;
  border-bottom: 1px solid #000;

  cursor: pointer;
}

.faq-item::before {
  content: "";

  position: absolute;
  top: 0;
  left: -0;

  display: block;

  width: 27px;
  height: 27px;

  background-image: url(../img/svg/arrows_circle_down.svg);
}

.modal-sevices-livingroom,
.modal-sevices-cottage,
.modal-sevices-office
 {
  display: none
}

.main-footer {
  font-size: 14px;
  line-height: 28px;
  color: #fff;

  padding-top: 50px;
  padding-bottom: 25px;

  background-color: #2d251f;
}

.footer-navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding-bottom: 25px;
  margin-bottom: 25px;

  border-bottom: 2px solid #fff;
}

.footer-navigation span {
  font-size: 30px;
  line-height: 36px
}

.main-footer-list {
  display: flex;

  margin: 0;
  padding: 0;

  list-style: none;
}

.main-footer-list li {
  margin-right: 25px;
}

.main-footer-list li:last-child{
  margin-right: 0;
}
.main-footer a {
  color: #fff
}

.main-footer a:hover,
.maib-footer a:focus {
  font-weight: bold;
}

.main-footer a:active {
  font-size: 12px;
}

.main-footer p {
  font-size: 14px;
  line-height: 16px
}

.main-footer-list {
  list-style: none;
}

.logo{
  text-transform: none;
}



.main-footer .copyright {
  font-size: 10px;
  line-height: 20px;

  margin: 0 auto;
text-align: center;
}

.modal {
  position: absolute;
  top: 170px;

  color: #000;

  background-color: #fff;

  border: 1px solid #b1b4a9;

  box-shadow: 2px 2px 2px 2px #b1b4a9

}

.modal-services-list {
  display: flex;
  justify-content: space-around;

  margin: 0;
  padding: 65px 0;

  list-style: none;
}

.modal-services-item-text {
  width: 400px;

  text-align: left;
}



.modal::before {
  content: "";

  position: absolute;
  top: 0;
  right: -50px;

  display: block;

  width: 40px;
  height: 3px;

  background-color: #b1b4a9;

  transform: rotate(45deg);
}

.modal::after {
  content: "";

  position: absolute;
  top: 0;
  right: -50px;

  display: block;

  width: 40px;
  height: 3px;

  background-color: #b1b4a9;

  transform: rotate(-45deg);

}
